# Ignore
*

# Include
!.gitignore
!mypy.ini
!docker-compose.yml
!run_*.sh
!requirements.txt
!__main__.py
!options/
!options/*.py
!options/database/
!options/database/*.py
!options/queue/
!options/queue/*.py
!options/routine
!options/routine/*.py
